body {
    font-family: 'Questrial', sans-serif;
}
a {
    font-family: 'Questrial', sans-serif;
    margin-left: 1em;

}

li {
    margin-bottom: 1em;
}

progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
     appearance: none;
    width: 250px;
    height: 20px;
  }